body {
  background-color: #263238;
  padding-top: 70px;
}

a {
  color: #ff851b;
}

a:hover,
a:focus {
  color: #ff851b;
  text-decoration: none;
}

.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.invisible {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

hr {
  border-color: #1f292f;
}

.footer {
  margin: 10px;
}

table {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
}

table .fa {
  cursor: pointer;
}

.table > tbody > tr.match {
  background-color: #314549;
}

td:nth-child(1),
td:nth-child(2) {
  font-family: monospace;
  white-space: nowrap;
}

.highlight {
  color: #ff851b;
}

.current-match .highlight {
  border-radius: 2px;
  background-color: #ff851b;
  color: #fff;
}

.filter-results-display input {
  padding-right: 50px;
}

.filter-results-display .filter-results-display-count {
  color: #999;
  height: 100%;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 4;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

th:first-child {
  min-width: 150px;
}

.navbar-nav > li > a.load-file-input-container {
  padding-top: 7px;
  padding-bottom: 6px;
}

.load-file-input {
  position: absolute;
  top: -9999px;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}

.locale-column {
  min-width: 100%;
}
