body {
  background-color: #263238;
  color: #fff;
  padding-top: 70px;
}

table {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
}

table .fa {
  cursor: pointer;
}

.table-hover > tbody > tr:hover {
  background-color: #1f292f;
}

.table-hover > tbody > tr.match {
  background-color: #314549;
}

td:nth-child(1),
td:nth-child(2) {
  font-family: monospace;
  white-space: nowrap;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

th:first-child {
  min-width: 150px;
}

.navbar-nav > li > a.load-file-input-container {
  padding-top: 7px;
  padding-bottom: 6px;
}

.load-file-input {
  position: absolute;
  top: -9999px;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}

.locale-column {
  min-width: 100%;
}
